@tailwind base;
@tailwind components;
@tailwind utilities;

/* 네가 HTML에서 쓰던 것 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  min-height: max(884px, 100dvh);
}
